@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .btn-blue {
    @apply text-white/[.9] text-sm rounded-lg p-3 bg-black/[.7] hover:bg-black/[.8] dark:bg-white/[.8] dark:text-black/[.8] dark:hover:bg-white/[.9] disabled:bg-blue-300 disabled:cursor-not-allowed;
  }
}
.svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
body {
  --bg: rgb(6, 182, 212), rgb(59, 130, 246);
}
body.dark {
  --bg: rgb(14, 164, 189), rgb(29, 91, 192);
}
body {
  background-image: linear-gradient(to right, var(--bg));
}

@font-face {
  font-family: "Star Jedi Outline";
  src: local("Star Jedi Outline"),
  url("./resources/Starjout.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Exo2";
  src: local("Exo2"), url("./resources/Exo2-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Exo2";
  src: local("Exo2"), url("./resources/Exo2-Medium.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Exo2";
  src: local("Exo2"), url("./resources/Exo2-ExtraBold.ttf") format("truetype");
  font-weight: 700;
}
body {
  margin: 0;
  font-family: "Exo2",-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn-search{
  line-height: 1px;
  height:30px;
  position:absolute;
  right: 0.375rem;
  bottom: 0.375rem;
}
/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}
/* Custom Select */
.select {
  position: relative;
  display: block;
  height: 42px;

  overflow: hidden;
  border-radius: .4em;
  border:1px solid rgba(255,255,255,.7);
  max-width:150px;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 2.5em;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 8px;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: rgba(255,255,255,0);
  pointer-events: none;
  color:#eee;
}
/* Transition */
.select:hover::after {
  color: #fff;
}
.select:hover {
  border:1px solid #fff;
}
.select::after {
  -webkit-transition: .25s all ease;
  transition: .25s all ease;
}
.head{
  overflow:hidden;
  height:338px;
  max-height:338px;
}
.head:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: -8px;
  left: 32px;
  opacity:.1;
  background: #00838d;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.35s ease-out;
}
.head:hover:before{
  transform: scale(26);
}
.head p:first-child{

}